<!DOCTYPE html>
<html>

<head>
	<title>MeetUGo Spaces-Baoshan Apartments AP-Chengjia-BS01</title>


	<link href="http://space.meetugo.com/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://space.meetugo.com/js/jquery.min.js"></script>

	<!-- Custom Theme files -->
	<!--theme-style-->
	<link href="http://space.meetugo.com/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->

	<link rel="shortcut icon" href="http://meetugo.com/img/favicon.ico" />


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="MeetUGo Space is branch of MeetUGo.com, which will help city new comers to find wonderful place to live  and work with local people. Shanghai Co-working Space, Shanghai Apartments, Shanghai Office, Shanghai House, Shanghai Events,English Events, International Events"
	/>

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="http://space.meetugo.com/js/responsiveslides.min.js"></script>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<script src="http://space.meetugo.com/js/easyResponsiveTabs.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab,#horizontalTab1,#horizontalTab2').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});
	</script>
	<script type="text/javascript" src="http://space.meetugo.com/js/move-top.js"></script>
	<script type="text/javascript" src="http://space.meetugo.com/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<style>
		.dropdown {

			position: relative;
			display: inline-block;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}
	</style>
</head>

<body>

	<div class="header-space">
		<div class="header-top">
			<div class="container">

				<div class="top-nav">
					<span class="menu">
						<img src="http://space.meetugo.com/images/menu.png" alt=""> </span>

					<ul>
						<li>
							<a href="http://space.meetugo.com/index.html">
								<p style="color: white"> HOME </p>
							</a>
						</li>
						<li>
							<a href="http://space.meetugo.com/apartments-jing'an.html">Jing'an</a>
						</li>
						<li>
							<a href="http://space.meetugo.com/apartments-pudong.html">Pudong</a>
						</li>
						<li>
							<a href="http://space.meetugo.com/apartments-huangpu.html">Huangpu</a>
						</li>
						<li>
							<a href="http://space.meetugo.com/apartments-xuhui.html">Xuhui</a>
						</li>
						<li>
							<a href="http://space.meetugo.com/apartments-changning.html">Changning</a>
						</li>

						<li>
							<div class="dropdown" style="z-index: 1000">
								<button style="background-color: transparent;border:none; ">
									<h4 style="color: white;"> MORE </h4>
								</button>
								<div class="dropdown-content">
									<a href="http://space.meetugo.com/apartments-putuo.html">Putuo</a>
									<a href="http://space.meetugo.com/apartments-minhang.html">Minhang</a>
									<a href="http://space.meetugo.com/apartments-yangpu.html">Yangpu</a>
									<a href="http://space.meetugo.com/apartments-songjiang.html">Songjiang</a>
									<a href="http://space.meetugo.com/apartments-baoshan.html">Baoshan</a>
									<a href="http://space.meetugo.com/apartments-jiading.html">Jiading</a>
								</div>
							</div>
						</li>

					</ul>

					<!--script-->
					<script>
						$("span.menu").click(function () {
							$(".top-nav ul").slideToggle(500, function () {
							});
						});
					</script>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!--DNG, 从这里开始 处理文本-->
	<div class="content-middle">
		<div class="container">
			<div class="col-md-6 grid-1" id="deng_app_one">
				<center>
					<h3> {{message_title_left}}</h3>
				</center>
				<br/>
				<p> Available Rooms</p>
				<ul class="grid-part">
					<li v-for="element in array_upper">
						<a>
							<i class="glyphicon glyphicon-ok-sign"> </i>{{element}}</a>
					</li>
				</ul>
				<center>
					<a class="visit-button" v-bind:href="book_visit_src">Book A Visit</a>
					<br/>
					<br/> </center>
				<p> Basic info </p>
				<ul class="grid-part">
					<li v-for="element in array_down">
						<a>
							<i class="glyphicon glyphicon-ok-sign"> </i>{{element}}</a>
					</li>
					<li id="dictionary_down_one">
						<a>
							<i class="glyphicon glyphicon-ok-sign"> </i>
							{{dictionary_down_one.line_one}}
							<br/> {{dictionary_down_one.line_two}}
							<br/> {{dictionary_down_one.line_three}}
						</a>
					</li>
				</ul>
				<center>
					<div>
						<a class="hvr-sweep-to-top" v-bind:href="apple_map_src">AppleMap(Safari)</a>


						<a class="hvr-sweep-to-top" href="tencent_map_src">TencentMap</a>
					</div>
				</center>


			</div>


<!--DNG, 从这里开始 处理图片-->
			<div class="col-md-6 span_8" id="deng_app_two">

				<div class="row_8">
					<div class="sap_tabs">
						<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
							<div class="resp-tabs-container">


								<h2 class="resp-accordion " role="tab" aria-controls="tab_item-0">
									<span class="resp-arrow"></span>
								</h2>
								<div class="tab-1 resp-tab-content " aria-labelledby="tab_item-0">
									<div class="facts">
										<img v-bind:src="src_img_one" class="img-responsive" alt="">
									</div>
								</div>
								<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-1">
									<span class="resp-arrow"></span>
								</h2>
								<div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-1">
									<div class="facts">
										<img v-once: src="src_img_two" class="img-responsive" alt="">
									</div>
								</div>
								<h2 class="resp-accordion" role="tab" aria-controls="tab_item-2">
									<span class="resp-arrow"></span>
								</h2>
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
									<div class="facts">
										<img v-once:src="src_img_three" class="img-responsive" alt="">
									</div>
								</div>


								<h2 class="resp-accordion" role="tab" aria-controls="tab_item-3">
									<span class="resp-arrow"></span>
								</h2>
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
									<div class="facts">
										<img src="http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-04.jpeg" class="img-responsive" alt="">

									</div>
								</div>


								<h2 class="resp-accordion " role="tab" aria-controls="tab_item-0">
									<span class="resp-arrow"></span>
								</h2>
								<div class="tab-1 resp-tab-content " aria-labelledby="tab_item-0">
									<div class="facts">
										<img src="http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-05.jpeg" class="img-responsive" alt="">
									</div>
								</div>
								<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-1">
									<span class="resp-arrow"></span>
								</h2>
								<div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-1">
									<div class="facts">
										<img src="http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-06.jpeg" class="img-responsive" alt="">
									</div>
								</div>





							</div>
							<ul class="resp-tabs-list">
								<li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">
									<span>
										<img v-bind:src="src_img_one" class="img-responsive" alt="">
									</span>
								</li>
								<li class="resp-tab-item " aria-controls="tab_item-1" role="tab">
									<span>
										<img src="http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-02.jpeg" class="img-responsive" alt="">
									</span>
								</li>
								<li class="resp-tab-item" aria-controls="tab_item-2" role="tab">
									<span>
										<img src="http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-03.jpeg" class="img-responsive" alt="">
									</span>
								</li>
								<li class="resp-tab-item" aria-controls="tab_item-3" role="tab">
									<span>
										<img src="http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-04.jpeg" class="img-responsive" alt="">
									</span>
								</li>
								<li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">
									<span>
										<img src="http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-05.jpeg" class="img-responsive" alt="">
									</span>
								</li>
								<li class="resp-tab-item " aria-controls="tab_item-1" role="tab">
									<span>
										<img src="http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-06.jpeg" class="img-responsive" alt="">
									</span>
								</li>


								<div class="clearfix"> </div>
							</ul>
						</div>
					</div>
				</div>

			</div>



			<div class="clearfix"> </div>

		</div>
	</div>
	<!---->




	<div class="our-grid">
		<div class="container">
			<center>
				<h3 class="our"> Recommend Apartments</h3>
			</center>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!---->


	<div class="gallery">
		<div class="container">
			<div class="gallery-in">

				<!--AP-Chengjia-XH01-->
				<div class="col-md-4 bottom-gallery">
					<div class="gallery-top">
						<div>
							<p>
								<a href="http://space.meetugo.com/images/AP-Chengjia-XH01/AP-Chengjia-XH01-0.jpeg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
								</a>
							</p>
						</div>


						<a href=" http://space.meetugo.com/AP-Chengjia-XH01.html ">
							<img class="img-responsive" src="http://space.meetugo.com/images/AP-Chengjia-XH01/AP-Chengjia-XH01-04.jpeg" alt=""> </a>

					</div>
					<center>
						<h4>
							<a href="http://space.meetugo.com/AP-Chengjia-XH01.html">Xuhui Apartments</a>
						</h4>
						<p>Near Damuqiao  Station (Line 4 ), Damuqiao Road</p>
					</center>
				</div>


				<!--AP-Chengjia-XH02-->
				<div class="col-md-4 bottom-gallery">
					<div class="gallery-top">
						<div id="nivo-lightbox-demo">
							<p>
								<a href="http://space.meetugo.com/images/AP-Chengjia-XH02/AP-Chengjia-XH02-03.jpeg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
									<span> </span>
								</a>
							</p>
						</div>
						<a href=" ">
							<img class="img-responsive" src="http://space.meetugo.com/images/AP-Chengjia-XH02/AP-Chengjia-XH02-03.jpeg" alt=""> </a>
					</div>
					<center>
						<h4>
							<a href="http://space.meetugo.com/AP-Chengjia-XH02.html">Xuhui Apartments</a>
						</h4>
						<p>Location--Near Guilin Road  Station (Line 9 ), Tianlin Road</p>
					</center>
				</div>

				<!--AP-Chengjia-CN02-->
				<div class="col-md-4 bottom-gallery">
					<div class="gallery-top">
						<div id="nivo-lightbox-demo">
							<p>
								<a href="http://space.meetugo.com/images/AP-Chengjia-CN02/AP-Chengjia-CN02-07.jpeg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
									<span> </span>
								</a>
							</p>
						</div>
						<a href="  ">
							<img class="img-responsive" src="http://space.meetugo.com/images/AP-Chengjia-CN02/AP-Chengjia-CN02-07.jpeg" alt=""> </a>
					</div>
					<center>
						<h4>
							<a href="http://space.meetugo.com/AP-Chengjia-CN02.html">Changning Apartments</a>
						</h4>
						<p>Zhongshan Park Station (Line 2/3/4 )-Wuyi Road</p>
					</center>
				</div>


				<div class="clearfix"> </div>
			</div>





		</div>
	</div>
	</div>







	<div style="height: 20px"></div>

	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style_24x24" style="float:right">
		<a class="jiathis_button_weixin"></a>
		<a class="jiathis_button_linkedin"></a>
		<a class="jiathis_button_fb"></a>
		<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
		<a class="jiathis_counter_style"></a>
	</div>



	<div style="height: 30px"></div>


	<div class="footer">
		<div class="footer-bottom">
			<div class="container">

				<p class="footer-grid">
					<a href="http://meetugo.com/" target="_blank">MeetUGo</a>
				</p>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


<!--DNG: 超男改 这里 就好了-->
	<script>
		var app_first = new Vue({
			el: '#deng_app_one',
			data: {
				message_title_left: 'Changjiang Road Apartments',
				array_upper: ["Big One-Bedroom and Outside Room(Type A)（2320+/Month）",
					"Big One-Bedroom and Outside Room(Type B)（2500+/Month）",
					"Big One-Bedroom and Outside Room(Type C)（2500+/Month）",
					"One-Bedroom and Standard Double Room(Type A)（¥2000+/Month）",
					"One-Bedroom and Standard Double Room(Type B)（¥2000+/Month）",
					"One-Bedroom and Standard Double Room(Type C)（¥1750+/Month）"],
				array_down: ["Location--Near Songfa Road  Station (Line 3 ), Changjiang Road",
					"Payment--1 Months Deposit + 1 Month Rent Payment"],
				dictionary_down_one:{line_one:"Featured Facilities--Kitchen,Cabinet,",
					line_two: "Elevator,Air conditioner, TV,Refrigerator,",
					line_three: "Bathroom,Washmachine,Table"
					},
				book_visit_src: "http://meetugo2017.mikecrm.com/XrKOXNH",
				apple_map_src:"https://maps.apple.com/?address=No.180%20Changjiang%20Road,%20Shanghai%20China&ll=31.351591,121.497674&q=No.180%20Changjiang%20Road",
				tencent_map_src: "http://router.map.qq.com/short?l=a2126a7c6a1fde1d45ae257c7825f0e6"
			}
		})
		
		var app_second = new Vue({
			el: '#deng_app_two' ,
			data: {
				src_img_one: "http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-01.jpeg",
				src_img_two: "http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-02.jpeg",
				src_img_three: "http://space.meetugo.com/images/AP-Chengjia-BS01/AP-Chengjia-BS01-03.jpeg"
			}
		})


		var dataOne = {a : 1};

		var vm = new Vue({
			data: dataOne

		})

		console.log(vm.a == dataOne.a);

	</script>
</body>

</html>